<!-- Validation failure messages -->

<% if @availability.errors.any? %>
  <% @availability.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<!-- Responsive panel example -->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Edit Availability #<%= @availability.id %></h3>
      </div>
      <div class="panel-body">
        <form action="/update_availability/<%= @availability.id %>" method="post" class="form-horizontal">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

          <!-- Label and input for photographer_id -->
          <div class="form-group">
            <label for="photographer_id" class="col-sm-2 control-label">
              Photographer
            </label>
            <div class="col-sm-10">
              <input type="text" id="photographer_id" name="photographer_id" placeholder="Photographer" class="form-control" value="<%= @availability.photographer_id %>">
            </div>
          </div>

          <!-- Label and input for location_available -->
          <div class="form-group">
            <label for="location_available" class="col-sm-2 control-label">
              Location available
            </label>
            <div class="col-sm-10">
              <input type="text" id="location_available" name="location_available" placeholder="Location available" class="form-control" value="<%= @availability.location_available %>">
            </div>
          </div>

          <!-- Label and input for time_available -->
          <div class="form-group">
            <label for="time_available" class="col-sm-2 control-label">
              Time available
            </label>
            <div class="col-sm-10">
              <input type="text" id="time_available" name="time_available" placeholder="Time available" class="form-control" value="<%= @availability.time_available %>">
            </div>
          </div>

          <!-- Label and input for date_available -->
          <div class="form-group">
            <label for="date_available" class="col-sm-2 control-label">
              Date available
            </label>
            <div class="col-sm-10">
              <input type="text" id="date_available" name="date_available" placeholder="Date available" class="form-control" value="<%= @availability.date_available %>">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button class="btn btn-warning">
                Update Availability
              </button>
              or
              <a href="/availabilities/<%= @availability.id %>">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- End responsive panel example -->
